mixin nav(className, items)
	nav(class=`${className}`)
		ul(class=`${className}__list`)
			each item in items
				li(class=`${className}__item` + ( (activeClass === item.name) ? ` ${className}__item_active` : '') )
					a(class=`${className}__link` href=`${item.link}`)= item.name



mixin socials(socials)
	each social in socials
		li.socials__item
				a(class=`socials__link socials__link_${social.name}` href=`${social.link}`)
					i(class=`fa fa-${social.name}` aria-hidden="true")



// Mixin for color schemes in design aside block
mixin aside__color-check(scheme)
	each item in scheme
		.aside__color-check
			.aside__color-wrap
				input(type="color" value=`${item.color}` id=`${item.id}` style=`background: ${item.color}`)
			input(type="text" name=`${item.id}-label` class="aside__color-label" value=`${item.name}`) 

// Mixin for Legend block
mixin legend(objs)
	each obj in objs
		.legend__item
			div(class="legend__color" style=`background: ${obj.color}`)
			p= obj.name